<div id="slick_main">
    <div class="slider-wrap">
        <div class="image-slider">
            <div class="img-wrap">
                <!-- <img class="util_pc" src="assets/img/top/pc/slider_01.png" alt=""> -->
                {% if block.settings.image != blank %}
                    <img class="util_pc" srcset="{{ block.settings.image | image_url }}" src=" {{ 'block.settings.image' | image_url: width: 50 | image_tag }}" alt="">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {% endif %}
                <img class="util_sp" src="assets/img/top/sp/sp_slider_01.png" alt="">
            </div>
            <div class="img-wrap">
                <img src="assets/img/top/pc/slider_02.png" alt="">
            </div>
            <div class="img-wrap">
                <img class="util_pc" src="assets/img/top/pc/slider_01.png" alt="">
                <img class="util_sp" src="assets/img/top/sp/sp_slider_01.png" alt="">
            </div>
        </div>
        <div class="dot_slider_main">
            <span class="start-num">01</span>
            <div class="slider-progress">
                <span></span>
            </div>
            <span class="end-num">03</span>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "image-banner",
    "tag": "section",
    "settings": [
        
    ],
    "blocks": [
        {
            "name": "image",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image_2"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image_3"
                }
            ]
        }
    ]
}
{% endschema %}
