<nav id="nav">
    <div class="logo util_pc">
        <a href="#">
          		{%assign ImageURL = block.settings.image %}
          		{%if ImageURL != blank %}
                   
                    <img class="util_pc" src=" {{ ImageURL | img_url }}">  

                {%else%}
                   	<img class="util_pc" src=" {{ 'sidemenu_logo_img.png' | asset_url }}">
                {%endif%}
            <img class="util_sp" src="assets/img/top/sp/XXXXLOGO.png" alt="">
        </a>
    </div>
    <ul class="navigation">
        <li class="util_sp">
            <ul class="nav_item">
                <li>
                    <a href="login.html" class="icon__login accordion_navi"><span>ログイン</span></a>
                </li>
                <li>
                    <a href="#" class="icon__favorite accordion_navi"><span>お気に入り</span></a>
                </li>
                <li>
                    <a href="javascript:;" class="icon__search_res accordion_navi"><span>ウルトラ検索</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>ニュース</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>特集</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>ランキング</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>おすすめ</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>新譜</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">音楽</span>
            <ul class="nav_item">
                <li>
                    <a href="#" class="accordion_navi"><span>CD</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>CD+DVD</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>CD+GOODS</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>BOX SET</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>7 INCH</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>12 INCH</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>LP</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>TAPE</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">映像</span>
            <ul class="nav_item">
                <li>
                    <a href="#" class="accordion_navi"><span>DVD</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>DVD+GOODS</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>Blu-ray</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">グッズ</span>
            <ul class="nav_item">
                <li>
                    <a href="#" class="accordion_navi"><span>T-SHIRT</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>SWEATSHIRTS</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>CAP</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>BAG</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>BOOK</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>OTHER</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">邦楽</span>
            <ul class="nav_item inner_drown_nav">
                <li>
                    <a href="#" class="accordion_navi main"><span>J-INDIES</span></a>
                    <ul class="content drown_nav_list" style="display: none;">
                        <li>
                            <a href="#" class="accordion_navi"><span>ロック</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>ポップス</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>テクノ　エレクトロ</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>その他</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion_navi main"><span>J-HIPHOP</span></a>
                    <ul class="content drown_nav_list" style="display: none;">
                        <li>
                            <a href="#" class="accordion_navi"><span>日本語ラップ</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>ピートメイカー</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>シテイ　メロウ</span></a>
                        </li>
                        <li>
                            <a href="#" class="accordion_navi"><span>その他</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>J-CLUB</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>J-REGGAE</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>歌謡曲</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>アニメ・ゲーム</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>J-JAZZ</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>サントラ</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">洋楽</span>
            <ul class="nav_item">
                <li>
                    <a href="#" class="accordion_navi"><span>ROCK･POPS</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>CLUB</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>HIPHOP</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>SOUL･R&B</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>JAZZ</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>REGGAE</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="tlt_nav">その他</span>
            <ul class="nav_item">
                <li>
                    <a href="#" class="accordion_navi"><span>WORLD</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>NEWAGE</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>BLUES＆COUNTRY</span></a>
                </li>
                <li class="container_bottom_border">
                    <a href="#" class="accordion_navi boder_bottom"><span>CLASSIC</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>ご利用ガイド</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>お知らせ</span></a>
                </li>
                <li>
                    <a href="#" class="accordion_navi"><span>店舗情報</span></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<div id="navfilter" class="util_sp">
    <a href="#" class="logo_open">
        <img src="assets/img/top/sp/XXXXLOGO-1.png" alt="">
    </a>
    <a href="#" id="btn_close_pc"><img src="assets/img/top/sp/sp_btn_close.png" alt="閉じる"></a>
</div>
{% schema %}
{
  "name": "menu",
  "tag": "section",
  "blocks": [
     {
       "name": "Image",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}

