<section class="util_pc section list_slider ranking" id="slider_ranking">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="assets/img/top/pc/ranking.png" alt="">
                <img class="util_sp" src="assets/img/top/sp/RANKING.png" alt="">
            </div>
            <span>ランキング</span>
        </div>
        <div class="slider_inner">
            <ul id="carousel" class="slider_01 owl-carousel owl-theme">
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">1</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">2</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">3</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">4</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">5</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">6</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">7</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">8</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">9</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a class="c-item" href="#">
                        <span class="num_ranking">10</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="util_pc bg_slider_top"></div>
    </div>
</section>
<section class="util_sp section ranking" id="container_ranking">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="assets/img/top/pc/ranking.png" alt="">
                <img class="util_sp" src="assets/img/top/sp/RANKING.png" alt="">
            </div>
            <span>ランキング</span>
        </div>
        <div class="ranking_inner">
            <ul class="list_item_ranking">
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">1</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">2</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">3</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">4</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">5</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">6</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">7</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">8</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">9</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <span class="num_ranking">10</span>
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="more">
                <span>もっと見る</span>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "ranking",
    "tag": "section",
    "blocks": [
        {
            "type": "text",
            "name": "text-ranking",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "text block",
                    "label": "text"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "options": [
                        {
                            "value": "body",
                            "label": "option_1"
                        },
                        {
                            "value": "subtitle",
                            "label": "option_2"
                        },
                        {
                            "value": "uppercase",
                            "label": "option_3"
                        }
                    ],
                    "default": "body",
                    "label": "style-body"
                }
            ]
        },
        {
            "type": "title",
            "name": "title-ranking",
            "limit": 1
        },
 		{
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}