<section class="util_pc section list_slider recomend" id="slider_recomend">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
<!--                 <img class="util_pc" src="assets/img/top/pc/recomend.png" alt=""> -->
              {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'recomend.png' | asset_url }}">
                          		{% endif %} 
                <img class="util_sp" src="assets/img/top/sp/RECOMEND.png" alt="">
            </div>
            <span>おすすめ</span>
        </div>
        <div class="slider_inner">
            <ul id="carousel02" class="slider_01 owl-carousel owl-theme">
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="util_pc bg_slider_top"></div>
    </div>
</section>
<section class="util_sp section recomend" id="container_recomend">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
                <img class="util_pc" src="assets/img/top/pc/recomend.png" alt="">
                <img class="util_sp" src="assets/img/top/sp/RECOMEND.png" alt="">
            </div>
            <span>おすすめ</span>
        </div>
        <div class="container_recomend">
            <ul class="list_item_recomend">
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-item" href="#">
                        <div class="item_thumbnail">
                            <img class="util_pc" src="assets/img/top/pc/200x200.png" alt="">
                            <img class="util_sp" src="assets/img/top/pc/200x200.png" alt="">
                        </div>
                        <div class="c-item__body">
                            <div class="c_category"><span>CD</span></div>
                            <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                            <div class="c-item__author">SEVENTEEN</div>
                            <div class="c-item__price">2,000円（税抜）</div>
                            <div class="c-item__date">2020/01/22 発売</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="more_01">
                <span>もっと見る</span>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "recomend",
    "tag": "section",
	"settings": [
      {
        "type": "text",
        "id": "title",
        "default": "recomend",
        "label": "Heading"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "collection recomend"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 12,
        "step": 2,
        "default": 4,
        "label": "products to show"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "show view all"
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "swip on mobile"
      },
      {
        "type": "header",
        "content": "content-header"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "Adapt to image"
          },
          {
            "value": "portrait",
            "label": "Portraint"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "adapt",
        "label": "Imgae ratio"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "show second image in hover"
      },
      {
        "type": "checkbox",
        "id": "add_image_padding",
        "default": false,
        "label": "add image padding"
      },
      {
        "type": "checkbox",
        "id": "show_image_outline",
        "default": true,
        "label": "show image outline"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "show vendor"
      }
  	],
    "blocks": [
        {
            "type": "text",
            "name": "text-recomend",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "text block",
                    "label": "text"
                }
            ]
        },
        {
            "type": "title",
            "name": "title-recomend",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				}
			]
        },
 		{
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}
